/*
    stylize.css - 装飾って楽しいね！
    author Joe Kanagawa
    date-created 2017-11-20
 */

.brief-explain-box {
    -fx-pref-width: 150px;
}

.brief-explain-box > .label {
    -fx-font-size: 10px;
}

.button {
    -fx-pref-width: 80px;
}

.hbox {
    -fx-pref-height: 20px;
    -fx-spacing: 8px;
    -fx-padding: 10px 0;
}

.symbol {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-min-width: 24px;
    -fx-font-size: 18px;
}

.text-field .context-menu {
    -fx-background-color: white;
}

.transition-rule {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-pref-width: 80px;
    -fx-font-size: 18px;
}
